/include/ "system-conf.dtsi"
/{
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		reserved: buffer@0x01300000 {
			no-map;
			reg = <0x01300000 0x400000>;
		};
	};

	reserved-driver@0 {
		compatible = "xlnx,reserved-memory";
		memory-region = <&reserved>;
	};
};

